* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .VW-Container {
    display: flex;
    color: #fff;
    background-color: #5995DA;  /* Blue */
  }
  
  .VW-Row {
    border: 1px solid #fff;
    width: 100%; 
    height: 33%;
    display: flex;
    justify-content: space-between; 
  }

  .links {
    border: 1px solid #fff;  /* For debugging */
    display: flex;
    justify-content: flex-end;
  }
  
  .login {
    margin-left: 20px;
  }
  
  .header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }